div(ng-controller="mainController as mainCtrl")
  nav.navbar(role="search")  
    .container-fluid
      .navbar-brand AwesomeVote
      .pull-right.navbar-links
        a.navbar-brand(ng-click="mainCtrl.go('')") 
          span.glyphicon.glyphicon-home
        a.navbar-brand#add-question(ng-click="mainCtrl.go('/add')")
          i.fa.fa-plus-circle
        a.navbar-brand(href="https://github.com/jrgleason/ngGrails")
          i.fa.fa-github-alt
  div.page(data-ng-view, ng-class="pageClass")
  
