.add-note.question
  .row
     h3.col-xs-offset-1 Edit A Question
  .row
      label.col-xs-5(for="questionText") Question Text
      input.col-xs-7#questionText(name="questionText", type="text", ng-model="questionCtrl.selectedQuestion.text")
  .row
      label.col-xs-5(for="questionDesc") Question Description
      text-angular(ng-model="questionCtrl.selectedQuestion.desc")
  .row.pad-top 
    .col-sm-2.col-sm-offset-5
      button.col-xs-12(class="btn-primary", ng-click="questionCtrl.edit(questionCtrl.selectedId)") Edit Question