.add-note.question
  .row
     h3.col-xs-offset-1 Edit A Question
  .row.well(ng-if="questionCtrl.errorMessages.length > 0")
     .validation-error(ng-repeat="errorMessage in questionCtrl.errorMessages")
       p {{errorMessage}}
  .row
      .input-group
        label(for="questionText") Question Text
        input#questionText(name="questionText", type="text", ng-model="questionCtrl.selectedQuestion.text")
      .input-group
        label(for="questionDesc") Question Description
        text-angular(ng-model="questionCtrl.selectedQuestion.desc")
  .row.pad-top 
    .col-sm-offset-2
       button(class="btn btn-primary",ng-click="questionCtrl.edit(questionCtrl.selectedId)") Edit Question