@import "bootstrap.less";

html{
  height:100%;
}
body{
  height:100%;
}

jg-ng-grails-app{
  height:100%;
}

body{
  background-color:lightblue;
}
.page{ 
  width:93%;
  margin: 80px auto;
  min-height:800px;
}
a.navbar-brand{
  color:white;
}
.page-add{
  &.ng-enter {
    -webkit-animation: fadeInRight 1s;
    -moz-animation: fadeInRight 1s;
    -ms-animation: fadeInRight 1s;
    animation: fadeInRight 1s;
  }
  
  &.ng-leave {
    -webkit-animation: fadeOutRight 1s;
    -moz-animation: fadeOutRight 1s;
    -ms-animation: fadeOutRight 1s;
    animation: fadeOutRight 1s;
  }
}
.page-view{
  &.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    -ms-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
  }

  &.ng-leave {
    -webkit-animation: fadeOutLeft 1s;
    -moz-animation: fadeOutLeft 1s;
    -ms-animation: fadeOutLeft 1s;
    animation: fadeOutLeft 1s;
  }
}
.pad-top{
  padding-top:50px;
}
a,
a i {
    cursor: pointer;
}
.vote-icon{
  font-size:3em;
}
.question-list{
  list-style-type: none;
}
.vote-icon:hover{
  transform: scale(1.5);
}
.vote-amount,.vote-icon{
  width:100%;
  display:block;
  text-align: center;
  overflow:hidden;
  p{
    font-weight:200;
    margin-bottom:0
  };
  a{
    .fa{
      max-height: 30px
    }
  };
}
.navbar{
  background-color: rgba(124, 40, 40, 0.75);
  border:none;
  width: 90%;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px; 
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin: 10px auto
}
.navbar .navbar-nav>li>a,.navbar .navbar-brand{
  color:#C8C8C8
}
.navbar-links{
  a:hover{
    transform: scale(1.5);
  }
} 
.question-item{
  padding:10px;
}
