ul.question-list
  li.row.question-item(ng-repeat="(key, question) in questionCtrl.questions")
    .col-xs-2.col-sm-offset-1.vote-area
      .row
        a.vote-icon 
          i.fa.fa-caret-up(ng-click="questionCtrl.voteUp($index)")
      .row
        .vote-amount
          p {{question.voteCount}}
      .row
        a.vote-icon 
          i.fa.fa-caret-down(ng-click="questionCtrl.voteDown($index)")
    .col-xs-11.col-sm-10.vote-text
      .row
        .pull-left
          h3.question-text {{question.text}}
        .pull-right.header-control
          h3
            i.fa.fa-pencil-square-o(ng-click="questionCtrl.gotoEdit(key)")
            i.fa.fa-times(ng-click="questionCtrl.delete($index)")     
      .row.vote-desc
        .question-desc(ng-bind-html="question.desc")
