ul.question-list
  li.row.question-item(ng-repeat="(key, question) in questionCtrl.questions") 
    .col-xs-2.col-sm-offset-1
      .row
        a.vote-icon 
          i.fa.fa-caret-up(ng-click="questionCtrl.voteUp($index)")
      .row
        .vote-amount
          p {{question.voteCount}}
      .row
        a.vote-icon 
          i.fa.fa-caret-down(ng-click="questionCtrl.voteDown($index)")
    .col-xs-10.col-sm-8
      h3 {{question.text}}
      p {{question.desc}}
input(type="hidden", value="{{question.key}}") 